name: docvault-frontend-dev
services:
  frontend:
    build:
      context: ../
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ../:/workspace:cached
    environment:
      - CHOKIDAR_USEPOLLING=true

volumes:
  postgres-data:
