name: docvault-frontend-dev
services:
  frontend:
    build:
      context: ../
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ../:/workspace:cached
    environment:
      - CHOKIDAR_USEPOLLING=true
